<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>KathyGee NYC</title>
	<link rel="stylesheet" href="/../foundation-5.5.2/css/normalize.css">
	<link rel="stylesheet" href="/../foundation-5.5.2/css/foundation.min.css">
	<link rel="stylesheet" href="/../font-awesome-4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/../style.css">
	<link rel="stylesheet" type="text/css" href="/../slick-1.5.7/slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/../slick-1.5.7/slick/slick-theme.css"/>		
	<link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet' type='text/css'>
</head>
<body>
	<!--Modal for all info -->

	<!-- The header -->
	<header class="header" id="header">Kathy Gee NYC</header>

	<!-- The Nav Bar -->
	<div class="sticky row">
  <div class="top-bar" id="navbar" data-topbar role="navigation" data-options="sticky_on: [large,medium,small]">
    <div class="large-3 medium-3 small-3 columns" id="links"> <a class="about" id="nav">About</a> </div>
    <div class="large-3 medium-3 small-3 columns" id="links"> <a class="testimonials" id="nav">Testimonials</a> </div>
    <div class="large-3 medium-3 small-3 columns" id="links"> <a class="contact" id="nav">Contact</a> </div>
    <div class="large-3 medium-3 small-3 columns" id="links">
	    <a href="http://www.facebook.com/" class="fa fa-facebook-official" id="icons"></a>
	    <a href="http://www.twitter.com/" class="fa fa-twitter-square" id="icons"></a>
	    <a href="http://www.instagram.com/" class="fa fa-instagram" id="icons"></a>
	    <a href="http://www.flickr.com/" class="fa fa-flickr" id="icons"></a>
  	</div>
  </div>
 </div>

<!-- For Kathy's Image -->
<div class="images">
<!-- Images to be added via jQuery script -->
</div>
<footer> &copy; 2015 Designed by Johnathan Chei. All Rights Reserved.</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/../foundation-5.5.2/js/vendor/jquery.js"></script>
<script src="/../foundation-5.5.2/js/foundation/foundation.js"></script>
<script src="/../foundation-5.5.2/js/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="/../slick-1.5.7/slick/slick.min.js"></script>
<script type="text/javascript" src="../scripts.js"></script>
</body>
</html>