<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kat's Artistry</title>
	<link rel="icon" href="/../images/favicon.ico" type="image/x-icon" >
	<link rel="stylesheet" href="/../foundation-5.5.2/css/normalize.css">
	<link rel="stylesheet" href="/../foundation-5.5.2/css/foundation.min.css">
	<link rel="stylesheet" href="/../font-awesome-4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/../slick-1.5.7/slick/slick.css">
	<link rel="stylesheet" href="/../slick-1.5.7/slick/slick-theme.css">		
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One">
	<link rel="stylesheet" href="/../style.css">
</head>
<body>
	<!--Modal for all info -->
	<div class="reveal-modal small" id="aboutModal" data-reveal="">
		<h2>About</h2>
 		<p>Place holder for Kathy's 'About Me' content</p>
 		<a class="close-reveal-modal">×</a>
	</div>

	<div class="reveal-modal small" id="testimonialsModal" data-reveal="">
		<h2>Testimonials</h2>
 		<p>Place holder for Kathy's 'Testimonial' content</p>
 		<a class="close-reveal-modal">×</a>
	</div>

	<div class="reveal-modal small" id="contactModal" data-reveal="">
		<h2>Contact</h2>
 		<p>Place holder for Kathy's 'Contact' content</p>
 		<a class="close-reveal-modal">×</a>
	</div>

	<!-- The header -->
	<header class="header" id="header" data-reveal-id="myModal">Kat's Artistry</header>

	<!-- The Nav Bar -->
	<div class="row">
  <div class="top-bar" id="navbar" data-topbar role="navigation">
    <div class="large-3 medium-3 small-3 columns" id="links"> <a data-reveal-id="aboutModal" class="about" id="nav">About</a> </div>

    <div class="large-3 medium-3 small-3 columns" id="links"> <a data-reveal-id="testimonialsModal" class="testimonials" id="nav">Testimonials</a> </div>

    <div class="large-3 medium-3 small-3 columns" id="links"> <a data-reveal-id="contactModal" class="contact" id="nav">Contact</a> </div>

    <!-- Social Media Links -->
    <div class="large-3 medium-3 small-3 columns" id="links">
	    <a href="http://www.facebook.com/" class="fa fa-facebook-official" id="icons"></a>
	    <a href="http://www.twitter.com/" class="fa fa-twitter-square" id="icons"></a>
	    <a href="http://www.instagram.com/" class="fa fa-instagram" id="icons"></a>
	    <a href="http://www.flickr.com/" class="fa fa-flickr" id="icons"></a>
  	</div>

  </div>
 </div>

<!-- For Kathy's Image -->
<div class="images-preview">
<!-- Images to be added via jQuery script -->
</div>

<footer>Designed by Johnathan Chei. All Rights Reserved.</footer>
<!-- Scripts -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/../foundation-5.5.2/js/vendor/jquery.js"></script>
<script src="/../foundation-5.5.2/js/foundation/foundation.js"></script>
<script src="/../foundation-5.5.2/js/foundation/foundation.topbar.js"></script>
<script src="/../foundation-5.5.2/js/foundation/foundation.reveal.js"></script>
<script type="text/javascript" src="/../slick-1.5.7/slick/slick.min.js"></script>
<script type="text/javascript" src="../scripts.js"></script>
</body>
</html>