#header{
	text-align: center;
	font-size: 10em;
	font-family: 'Allura', cursive;
}

#nav{
	color:#FFFFFF;
	font-size: 20px;
	text-align: center;
}

/*Change the color of links on the main page*/
a:link {
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #ABB09D;
}

a:active {
    color: #FFFFFF;
}

/*Change the color of links inside modals*/
#contact-email:link{
	color:#000000;
}

#contact-email:visited{
	color:#000000;
}

#contact-email:hover{
	color:#ABB09D;
}

#contact-email:active{
	color:#FFFFFF;
}

#links{
	text-align: center;
	font-family: 'Poiret One', cursive;
}

#icons{
	font-size:28px;
	padding-top: 8px;
}

.image{
	height: 220px;
	margin: 0px 3px 0px 3px;
	border: solid black 2px;
}

.headshots{
	margin: 0 auto;
	max-width: 1000px;
}

.wedding-and-prom{
	margin: 0 auto;
	max-width: 1000px;
}

.before-and-after{
	margin: 0 auto;
	max-width: 1000px;
}

.slick-prev:before, .slick-next:before { 
    color:black;
}

h2{
	font-family: 'Poiret One', cursive;
}

p{
	font-family: 'Poiret One', cursive;
}

footer{
	text-align: center;
	font-size: 10px;
	margin-top: 200px;
}
/*Media query to adjust the size of the images*/
/*'Medium' size*/
@media only screen and (max-width: 60em){
	#header{
			font-size: 8em;
		}
	.image{
		height: 150px;
	}
}
/*'Small' size*/
@media only screen and (max-width: 40em){
		#header{
			font-size: 5em;
		}
		#nav{
			font-size:15px;
		}
		#icons{
			font-size:15px;
		}
		.image{
		height: 100px;
	}
}